body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background: #CCCC;
}
p {
    font-size: 20px;
}
header{
    background-color: white;
    text-align: center;
    border: 0;
}
footer{
    border: 0;
}
footer img{
    width: 100%;
    margin: 0 0;
}
.main{
    background: rgb(225,169,255);
    background: linear-gradient(90deg, rgba(225,169,255,1) 0%, rgba(157,141,233,1) 46%, rgba(204,204,204,1) 100%);}
.itens_port{
    text-align: center;
    border: 5px;
    border-radius: 20px;
    border-style: dotted;
    border-color:black ;
    width: 100%;
    padding: 10% 0;
}
.itens_port li {
    border: 5px;
    border-radius: 20px;
    border-style: dotted;
    border-color:black ;
    display: inline-block; 
    text-align:  center;
    margin: left 10px;
    line-break: auto;
    opacity: 50%;
    background-color: aliceblue;
    vertical-align: top;
    margin-right: 5%;
}
.itens_port img{
    width: 50%;
}